In [3]:
import pandas as pd
df = pd.read_csv('model_app_data.csv')

In [4]:
df.isnull().sum()

location         0
property_area    0
bed              0
street           0
features         0
bath             0
toilet           0
description      0
price            0
median_price     0
Maxi             0
Min              0
dtype: int64

In [5]:
df.head()

,location,property_area,bed,street,features,bath,toilet,description,price,median_price,Maxi,Min
0,ajah,abijo,1,Destiny HomeAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,MINI FLAT,350000.0,350000.0,450000.0,300000.0
1,ajah,abijo,1,Destiny home estateAbijo Ajah Lagos,1 beds 2 baths 2 Toilets,2,2,A NEWLY BUILT ROOM AND PARLOR SELF CONTAINED (...,450000.0,350000.0,450000.0,300000.0
2,ajah,abijo,1,Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1 BEDROOM APARTMENT / FLAT TO RENT IN LEKKI,400000.0,350000.0,450000.0,300000.0
3,ajah,abijo,1,AbijoAbijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,MINI FLAT AVAILABLE,450000.0,350000.0,450000.0,300000.0
4,ajah,abijo,1,-Abijo Ajah Lagos,1 beds 1 baths 1 Toilets,1,1,1 BEDROOM APARTMENT,450000.0,350000.0,450000.0,300000.0

In [6]:
df.location.unique()

array(['ajah', 'gbagada', 'ikeja', 'ikorodu', 'lekki', 'surulere', 'yaba'],
      dtype=object)

In [8]:
df['property_area'].unique()

array(['abijo', 'abraham-adesanya-estate', 'ado', 'ajiwe', 'akodo',
       'awoyaya', 'badore', 'canaan-estate', 'crown-estate',
       'eden-garden-estate', 'graceland-estate', 'ilaje', 'lakowe',
       'lekki-gardens-estate', 'off-lekki-epe-expressway', 'ogombo',
       'okun-ajah', 'olokonla', 'peninsula-estate', 'sangotedo',
       'thomas-estate', 'atunrase-medina', 'gbagada', 'ifako-gbagada',
       'medina', 'millenuim-ups', 'new-garage', 'oworonshoki', 'phase-1',
       'phase-2', 'soluyi', 'adeniyi-jones', 'agidingbi',
       'airport-road(ikeja)', 'alausa', 'alausa-ikeja', 'allen-avenue',
       'awolowo-way', 'balogun', 'ikeja', 'ikeja-g.r.a', 'ikeja-gra',
       'mangoro', 'maryland', 'mobolaji-bank-anthony-way', 'oba-akran',
       'obafemi-awolowo-way', 'omole', 'opebi', 'oregun', 'toyin-street',
       'unity-road', 'agric', 'akute-ajuwon', 'ebute', 'igbogbo', 'ijede',
       'ikorodu', 'ipakodo', 'isawo', 'jumofak', 'maya', 'odongunyan',
       'lekki-phase-1', 'abraham-adesanya', 'adelabu',
       'adeniran-ogunsanya', 'aguda', 'alaka-estate', 'alaka-iponri',
       'bode-thomas', 'central-surulere', 'coker', 'eric-moore', 'gbaja',
       'idi-araba', 'ijesha', 'iponri', 'itire', 'kilo-marsha',
       'lawanson', 'masha', 'ojuelegba', 'orile-iganmu', 'randle-avenue',
       'western-avenue', 'abule-ijesha', 'abule-oja', 'adekunle', 'akoka',
       'alagomeji', 'ebute-metta', 'fola-agoro', 'iwaya', 'jibowu',
       'onike', 'sabo', 'tejuosho', 'yaba'], dtype=object)

In [7]:
'AJABALE'.lower()

'ajabale'

In [ ]:
'Minimum Price in {}'.format(location), med_location_price(location, beds), 'Median Price in {}'.format(location),
        max_location_price(location, beds), 'Maximum Price in {}'.format(location), min_price(area, beds), 'Minimum Price in {}'.format(area),
        median_price(area, beds), 'Medium Price in {}'.format(area), max_price(area, beds), 'Maximum Price in {}'.format(area)